@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  transition: color 0.25s;
  color: #fff;
}

a:hover, a:focus {
  color: #f80;
  outline: none;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 10px;
  background: #404448;
  font: 20px/1.4 Merriweather, serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  position: relative;
  min-width: 320px;
}

.row {
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-width: 320px;
}

main {
  width: 680px;
  flex: 0 1 auto;
}

nav {
  flex: 0 0 auto;
  display: flex;
  margin: 0 0 20px;
}

nav {
  font: 14px/1 Open Sans, sans-serif;
}

.back,
.next {
  color: #fff;
  text-decoration: none;
  border: 0;
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.back:after,
.next:after {
  content: '';
  width: 30px;
  height: 30px;
  border: solid;
  border-width: 2px 2px 0 0;
}

.back:after {
  align-self: flex-start;
  margin-left: 10px;
  transform: rotate(225deg);
}

.next:after {
  transform: rotate(45deg);
  align-self: flex-end;
  margin-right: 10px;
}

.tags {
  word-break: break-word;
}

.tags a {
  font-size: 16px;
  color: #888;
  border-bottom: 0;
}

.tags a span,
.tags a:before {
  transition: color 0.25s;
}

.tags a:hover span,
.tags a:hover:before,
.tags a:focus span,
.tags a:focus:before {
  color: #f80;
}

.tags a span {
  border-bottom: 1px solid;
}

.tags a:before {
  content: '#';
}

.tags a:after {
  content: ', ';
}

.tags a:last-child:after {
  content: none;
}

.tags a.active span,
.tags a.active:before {
  color: #333;
  background: #fbfbfb;
}

.tags a.active:hover span,
.tags a.active:hover:before,
.tags a.active:focus span,
.tags a.active:focus:before {
  color: #bd6500;
}

.tags a.active span {
  border-bottom: 0;
}

nav a {
  display: block;
  margin: 6px;
}

.index {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #888;
}

section {
  align-self: center;
  overflow: hidden;
}

template {
  display: none;
}

.social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.copy {
  font-size: 12px;
  line-height: 18px;
  font-family: Open Sans, sans-serif;
  margin: 48px 0 0;
  padding: 0 40px;
}

.copy a {
  border-bottom: 0;
  text-decoration: underline;
}

@media (max-width: 640px) {
  body {
    font-size: 16px;
  }

  .tags a {
    font-size: 13px;
  }
}
